* {
	/*background-color: lightslategrey, ;*/
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #170E00;
}
body{
	background-color: #F9F7EA;
}

.cont {
	background-color: #DFEAC8;
	margin: 10%;
	margin-top: 10px;
	padding: 3px 10px;
	padding-bottom: 12px;
	/*width: 80%;*/
	height: 100%;
	/*border: 3px outset rebeccapurple;*/
	border-bottom: 2px solid #DCB76D;
	border-radius: 15px;
	/*box-shadow: 3px 6px 5px #676F64;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

span {
	color: #08927F;
}

strong {
	color: #00B76D;

}

.wrap {
	margin: 7px;
	box-shadow: 3px 6px 5px #002500;
	margin-top: 5px;
	background-color: #F0FFE8;
	width: 190px;
	height: 300px;
	/*border: 1px ridge blanchedalmond;*/
	border-radius: 15px;
	font-variant-numeric: slashed-zero;
}

.wrap:hover {
	box-shadow: none;
	background-color: #F2F5DB;
	color: #17252A;
}

.wrap:hover h3{
	color: #0CF556;
}

.wrap:hover span{
	color: #00F599;
}


h3 {
	padding-bottom: 0px;
	padding-left: 20px;
	color: #00B76D;
}


li {
	padding-bottom: 5px;
}

video {
	width: 100%;
	height: 100%;
}

.wap {
	margin: 2% 10%;
	background-color: #001B28;
	padding: 0px 12px;
	border-radius: 30px;
	box-shadow: 3px 6px 15px #463247;
}

p {
	color: #E0DFE8;
}

h4 {
	color: #CEBBFF;
	font-weight: 1000;
	font-size: 23px;
	padding: 0px;
}

table{
	margin-bottom: 42px;
	margin-left: 7px;
	border: 2px #242043 ridge;
	border-radius: 8px;
	box-shadow: 3px 6px 15px #A26863;
}

h1 {
	color: #08927F;
	text-decoration: underline;
}

th {
	background-color: #24592A;
	font-size: 25px;
	padding: 5px 15px;
	color: #AAE57D;
	margin-left: 7px;
}
td {
	font-size: 17px;
	padding: 10px;
}
tr:nth-child(even) {
	background-color: #F1DFD2;
}

.day {
	color: #440515;
	font-size: 20px;
	margin-right: 5px;
}